h1{
	color: red;
	font-style: italic;
	font-weight: bold;
	
}
p{
	text-transform: uppercase;
	font-size: 30px;
	text-decoration: line-through;
	text-shadow: 2px 1px 2px red;
	line-height: 100%;
	letter-spacing: 5px;
    font-kerning: none;
    font-style: italic;
	word-spacing: 20px;
}
.footer{
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 70px;
	background: magenta;
	position: fixed;
}
#header{
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 70px;
	background: purple;

}
body{
	margin: 0px;
}